.footerLink{
    color: #FFF;
font-family: Arial, Helvetica, sans-serif;
font-size: 12.6px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 253.968% */
margin: 0;
transition: ease 0.5s;
}
.footerLink:hover{
color: #F58420;
}