.newsCard{
    display: flex;
    border-top: 1px solid #B8BABC;
/* border-bottom: 1px solid #B8BABC; */
gap: 30px;
    width: 890px;
        padding: 20px 0px;
        transition: 0.5s ease;
            padding: 20px 20px;
    /* border: 274px; */
    border-radius: 4px;

}
.fornewspg{
    display: flex;
    flex-direction: column;
    gap: 20px;
        width: 510px;
}
.newsdate{
    color: #333;
font-family: Arial, Helvetica, sans-serif;
font-size: 14.4px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 166.667% */
margin: 0;
}
.newstitle{
    color: #1858A8;
font-family: Arial, Helvetica, sans-serif;
font-size: 20.8px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 125% */
margin: 0;

}
.newsdes{
    margin: 0;
    color: #333;
font-family: Arial, Helvetica, sans-serif;
font-size: 14.4px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 166.667% */
}
.newsCard:hover{
box-shadow: 0 4px 22px 0 rgba(54, 89, 160, 0.30);



}