.iconwdes{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.iconTitle{
    color: #333;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28.08px; /* 161.379% */
}
.iconDes{
    color: #333;
font-family: Arial, Helvetica, sans-serif;
font-size: 14.4px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 166.667% */
margin: 0;
}